{% load static from staticfiles%}
{% load firstApp_extras %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>
<body>
    <div class="site-container">
        
        <nav> 
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'company_information' %}">Company information</a>
            <a href="{% url 'firstApp:list' %}">Cursos</a>

        </nav>
        <p>El último curso registrado es : {% last_course %}</p>
        {% block content %}{% endblock %}
    </div>

</body>
</html>

